<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <!-- 定义webservice服务，相当于发布
    <import resource="classpath:META-INF/cxf/cxf-extension-http.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />-->
    <jaxws:server id="MyServer" address="/getWeatherByProvince" serviceClass="com.study.WeatherServer">
        <!--发布服务类  -->
        <jaxws:serviceBean>
            <bean class="com.study.MyServerImpl"></bean>
        </jaxws:serviceBean>
    </jaxws:server>
    <bean id="newsServerImpl" class="com.study.NewsServerImpl"></bean>
    <jaxws:endpoint id="newsServer" implementor="#newsServerImpl" address="/getNews" />
<!--    <jaxws:endpoint id="helloService" implementor="com.eastcom.ws.impl.HelloServiceImp" address="/hello"/>-->

<!--    <jaxws:endpoint id="MyServer2" address="/getWeatherByProvince2" implementor="com.study.MyServerImpl" >-->
<!--        <jaxws:features> <ref local="logBean" /> </jaxws:features>-->
<!--    </jaxws:endpoint>-->
<!--    <bean id="logBean" class="org.apache.cxf.feature.LoggingFeature" />-->
</beans>